<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".display_risk_map"
            android:exported="false"
            android:parentActivityName=".CampusMap" />
        <activity
            android:name=".display_risk"
            android:exported="false"
            android:parentActivityName=".campus_list" />
        <activity
            android:name=".register"
            android:exported="false"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.MyApplication.NoActionBar"
            android:parentActivityName=".login"/>
        <activity
            android:name=".registerFaculty"
            android:exported="false"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.MyApplication.NoActionBar"
            android:parentActivityName=".login"/>

        <activity
            android:name=".faculty"
            android:exported="false" />
        <activity
            android:name=".checkin"
            android:exported="false" />
        <activity
            android:name=".campus_list"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".CampusMap"
            android:exported="false"
            android:label="@string/title_activity_campus_map"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>